---
import Layout from '../layouts/Layout.astro';
import TrackingForm from '../components/TrackingForm.astro';
import Table from '../components/Table.astro';
// import Header from '../components/Header.astro';
---

<Layout>
	<main class="main">
		<!-- <Header /> -->
		<section class="container-tracking">
			<h2>Ingresa los datos solicitados para ver el estado de su envio</h2>
			<TrackingForm />
			<Table />
		</section>
	</main>
</Layout>

<style>
	.main {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: stretch;
		row-gap: 20px;
		height: 100vh;
		width: 100%;
		max-width: 1200px;
		padding: 20px;

		@media screen and (max-width: 564px ) {
			padding: 8px;
		}
	}

	.container-tracking {
		flex-grow: 1;
		padding: 80px 0;

		@media screen and (max-width: 1024px ) {
			padding: 40px 0;
		}
	}	

	h2 { 
		text-align: center;
	}
</style>
