---
import Button from "./Button.astro";
import Input from "./Input.astro";
---

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('.form');
        const input = document.querySelector('#input-nroVenta');
        
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const trackingNumber = input.value.trim();

            if(!trackingNumber) {
                alert('Debe ingresar un número de seguimiento.')
                return
            };
            
            document.dispatchEvent(new CustomEvent('trackingNumber', {
                detail: { trackingNumber },
            }))
        })
    })
</script>

<form class="form">
    <Input id="input-nroVenta" type="text" placeholder="Nro. de venta" required={true} inputmode="text" />
    <div class="button-container">
        <Button type="submit" clase="primary">
            Buscar
        </Button>
    </div>
</form>

<style>
    .form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
    }

    .button-container {
        display: grid;
        place-items: center;
    }
</style>
